

<%= render "helpers/map" %>


<div class="over-boot " >
  <div class="container">
      <div class="row">

        <% @flats.each do |flat| %>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= link_to flat_path(flat) do %>
              <div class="card-wrapper">
                  <% if flat.photo? %>
                    <div class="card" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path flat.photo.path %>');">
                  <% else %>
                    <div class="card" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/400/200');">
                  <% end %>
                  <div class="card-category">
                    <h2 style="color: whitesmoke;"><%= flat.title %></h2>
                  </div>
                  <div class="card-description">
                    <!-- #maybe something -->
                  </div>
                </div>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
  </div>
</div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
