<!-- testing git, i want to see sth. -->
<div class="banner-show-flat">
  <div class="banner" style="background-image: url('https://unsplash.it/1000/300/?random');">
  </div>
</div>


<!-- <div class="container-fluid"> -->
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
          <%= render "helpers/description-flat" %>
          <%= render "helpers/reviews" %>
          <%= render "helpers/review-adder" %>
      </div>
      <div class="col-xs-12 col-sm-6 change-color">
        <div class="booking">
            <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.input :guests %>
            <%= f.submit "book", class:"btn btn-primary" %>
            <% end %>
          </div>
      </div>
    </div>
</div>









