
<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1>new booking</h1>

<%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :guests %>
  <%= f.submit "book" %>
<% end %>

  </div>
</div>
