
<div class="summary-wrapper">
  <div class="container-fluid">
  <div class="row">
  <div class="col-xs-12">
    <div class="summary-card">
    <div class="summary-content">
      <div id="summary-header">
          <h2 class="info" style="margin-bottom: 20px;"><%= @booking.flat.title %></h2>
          <h4 class="info"><strong>Start date: </strong><%= @booking.start_date %></h4>
          <h4 class="info"><strong>End date: </strong><%= @booking.end_date %></h4>
      </div>
      <div id="summary-tenent">
          <h3><%= @booking.user.first_name %> <%= @booking.user.last_name %></h3>
          <h4><%= @booking.user.email %></h4>
          <%= link_to "My Bookings", pages_dashboard_path, class: "btn btn-danger"%>
      </div>
      <div id="total-price">
        <h6 class="info"><strong>Nights: </strong><%= (@booking.end_date - @booking.start_date).to_i %> <strong>Guests: </strong><%= @booking.guests %></h6>
        <h4><strong>Total price: </strong>€<%= ((@booking.end_date - @booking.start_date) * @booking.flat.price).to_i * @booking.guests %></h4>

      </div>
      </div>

      <div class="summary-photo hidden-xs hidden-sm">
        <% if @booking.flat.photo? %>
          <%= cl_image_tag @booking.flat.photo.path, width: 400, height: 450, crop: :fill %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
