
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <h1>My bookings</h1>
        <hr>
        <div class="my-bookings">
          <ul class="list-unstyled">

            <% @bookings.each do |book|  %>
            <% if @flats_array.include?(book.flat_id) %>

            <div class="product">
              <div class="image">
                <p> <strong> <%= book.flat.title %> </strong> </p>
                <%= cl_image_tag(book.flat.photo.path, width: 200, class:"product-image hidden-xs")%>
              </div>
              <div class='product-body'>
                <h3>Booked by <%= book.user.first_name  %> <%= book.user.last_name %> </h3>
                <p>From <%= book.start_date %> to <%= book.end_date %> </p>
                <p>Number of guest: <%= book.guests %></p>
                <p>Status: <%= book.status %></p>
              </div>
              <% if book.status == 'pending' %>
              <%= button_to "Confirm", flat_booking_path(flat_id: book.flat.id, id: book.id), method: :patch , class: 'confirm-btn btn btn-success', remote: true,id: 'pending_button' , params:{status: "confirm"} %>

              <%= button_to "Deny", flat_booking_path(flat_id: book.flat.id, id: book.id), method: :patch , class: 'deny-btn btn btn-danger', remote: true,id: 'denied_button' , params:{status: "denied"} %>

              <% elsif book.status == 'confirmed' %>
              <%= button_to "Deny", flat_booking_path(flat_id: book.flat.id, id: book.id), method: :patch , class: 'deny-btn btn btn-danger', remote: true,id: 'denied_button' , params:{status: "denied"} %>


              <% elsif book.status == 'denied' %>
              <%= button_to "Pending", flat_booking_path(flat_id: book.flat.id, id: book.id), method: :patch , class: 'deny-btn btn btn-success', remote: true,id: 'confirm_button' , params:{status: "pending"} %>

              <% end %>
            </div>
            <hr>
            <% end %>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
   // $(".confirm-btn").click(function(e){
   //   e.preventDefault();
   //   var booking = $(this).attr("booking_id")
   //   var flat = $(this).attr("flat_id")
   //   alert('aloha');
   //   $.ajax({
   //   type: "POST",
    //  url: "",
    //  data: $.this.val(),
    //  success: function(data){

   //   },
   //   error: function(jqXHR) {
   //               console.error(jqXHR.responseText);
   //           }
   //   })
   // })





  <% end %>
<% end %>
