<% content_for :title, "#{@user.first_name}'s dashboard" %>
<div class="dashboard-page">
<div class="wrapper" style="margin-top: 60px;">
 <div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <h1>Welcome <%= @user.first_name %></h1>
      <h3>Check your trips, listing and bookings</h3>

      <!-- <hr style="border-color: #FF5A5F;"> -->
    </div>
  </div>
</div>
</div>
<!-- tab bar -->
<div class="tabs">
  <a class="tab active" data-target="#myflats">
    <h3>Your listing</h3>
  </a>
  <a class="tab" data-target="#mybooking">
    <h3>Your bookings</h3>
  </a>
  <a class="tab" data-target="#mytrips">
    <h3>Your trips</h3>
  </a>
  <a class="tab" data-target="#myprofile">
    <h3>Your profile</h3>
  </a>
</div>
<!-- content for the different tabs -->
<div class="container text-center">
  <div class="tab-content" id="myflats">
    <%= render 'shared/myflats' %>
  </div>
  <div class="tab-content hidden" id="mybooking">
    <%= render 'shared/mybookings' %>
  </div>
  <div class="tab-content hidden" id="mytrips">
    <%= render 'shared/mytrips' %>
  </div>
  <div class="tab-content hidden" id="myprofile">
    <%= render 'shared/myprofile' %>
  </div>
</div>
</div>
