<div class="book-flat">
  <%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :guests %>
  <%= f.submit "book", class:"btn btn-primary" %>
  <% end %>
</div>
