
<div class="flat-info">
  <div class="flat-info-title-address">
    <h2><strong> <%= @flat.title %> </strong> </h2>
    <p> <%= @flat.address %> </p>
  </div>
  <div class="avatar-flat-show">
    <img src="https://randomuser.me/api/portraits/men/<%= rand(100) %>.jpg" alt="user" class="avatar-large">
    <br>

     <%= @flat.user.first_name %>

  </div>
</div>

<hr>

<div class="flat-extra-info">
  <div class="category-icon text-center">
    <i class="fa fa-home" aria-hidden="true"></i>
    <p><%= @flat.category %> </p>
  </div>

  <div class="capacity-icon text-center">
      <i class="fa fa-users" aria-hidden="true"></i>
      <p><%= @flat.capacity %> </p>
  </div>
  <div class="bedrooms-icon text-center">
      <i class="fa fa-bed" aria-hidden="true"></i>
      <p><%= @flat.bedrooms %> </p>
  </div>
  <div class="price-icon text-center">
      <i class="fa fa-money" aria-hidden="true"></i>
      <p><%= @flat.price %> </p>
  </div>
</div>

<div class="description">
  <h1><strong>Description</strong></h1>
  <%= @flat.description %>
</div>
